@font-face {
  font-family: "Gelasio";
  src: url("Gelasio.woff2") format("woff2");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gelasio";
  src: url("Gelasio-Italic.woff2") format("woff2");
  font-weight: 400 700;
  font-style: italic;
  font-display: swap;
}
html {
  font-family: "Gelasio", Georgia, serif;
  font-variant-numeric: lining-nums;
  letter-spacing: 0.02em;
  word-spacing: 0.05em;
}
::marker {
  font-variant-numeric: lining-nums tabular-nums;
}
